.page{
    display:none;
    animation:fade .35s ease;
}

.page.active{
    display:block;
}

/* smooth transition */
@keyframes fade{
    from{
        opacity:0;
        transform:translateY(10px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
.dashboard-section{
    margin-top:40px;
    padding:25px;
    border-radius:16px;
    background:#071a2e;
    border:1px solid rgba(255,255,255,.05);
}

/* title */
.section-title{
    margin-bottom:20px;
}

/* task cards */
.task-update{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    margin-bottom:15px;
    border-radius:12px;
    background:#0b223d;
}

/* status badges */



*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Segoe UI", sans-serif;
}

body{
    background:#050e1c;
    color:white;
    display:flex;
}

/* ===== SIDEBAR ===== */
.sidebar{
    width:250px;
    height:100;
    background:#071326;
    border-right:1px solid rgba(255,255,255,.05);
    padding:20px;
    display:flex;
    flex-direction:column;
}

.logo{
    font-size:20px;
    font-weight:600;
    margin-bottom:30px;
}

.logo span{
    color:#20d4ff;
}

.profile{
    display:flex;
    align-items:center;
    gap:12px;
    margin-bottom:25px;
}

.avatar{
    width:42px;
    height:42px;
    border-radius:50%;
    background:linear-gradient(45deg,#20d4ff,#2563ff);
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;
}

.menu{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.menu-item{
    text-decoration:none;
    color:#c9d6e2;
    padding:10px 12px;
    border-radius:8px;
}

.menu-item:hover,
.menu-item.active{
    background:#0a2a44;
    color:#fff;
}

.logout{
    position:absolute;
    bottom:25px;
    width:85%;
}

.logout-btn{
    width:100%;
    padding:10px;
    border:none;
    border-radius:8px;
    background:#0a2a44;
    color:#fff;
    cursor:pointer;
}

/* ===== MAIN ===== */
.main{
    flex:1;
    padding:30px 40px;
}

/* HEADER */
h1{
    font-size:32px;
}

.subtitle{
    color:#94a3b8;
    margin-top:5px;
    margin-bottom:25px;
}

/* ===== STATS CARDS ===== */
.cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    margin-bottom:25px;
}

.card{
    padding:25px;
    border-radius:16px;
    background:#0b1e35;
    border:1px solid rgba(255,255,255,.05);
}

.card h3{
    color:#9fb3c8;
    font-weight:500;
    margin-bottom:10px;
}

.card .number{
    font-size:32px;
    font-weight:700;
}

/* colored cards */
.purple{ background:linear-gradient(135deg,#3a1c71,#4a235a);}
.blue{ background:linear-gradient(135deg,#0f3b5f,#0a4d6e);}
.green{ background:linear-gradient(135deg,#064e3b,#065f46);}
.orange{ background:linear-gradient(135deg,#5a3a0a,#7c4a10);}

/* ===== CONTENT GRID ===== */
.content{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:25px;
}

/* PANEL */
.panel{
    background:#071a2e;
    border-radius:16px;
    padding:25px;
    border:1px solid rgba(255,255,255,.05);
}

.panel h2{
    margin-bottom:20px;
}

/* PROGRESS BAR */
.progress{
    height:10px;
    background:#0e223b;
    border-radius:10px;
    overflow:hidden;
    margin:10px 0 25px;
}

.progress div{
    height:100%;
    width:38%;
    background:linear-gradient(90deg,#20d4ff,#2563ff);
}

/* STATUS */
.status{
    display:flex;
    justify-content:space-between;
    margin-top:10px;
}

.status div{
    text-align:center;
}

.completed{ color:#22c55e;}
.pending{ color:#facc15;}
.overdue{ color:#ff5c5c;}

/* QUICK ACTIONS */
.action{
    padding:18px;
    border-radius:12px;
    margin-bottom:15px;
}

.action.blue{ background:#0c2f4f;}
.action.purple{ background:#40204d;}
.action.green{ background:#064e3b;}

.action strong{
    display:block;
    margin-bottom:4px;
}

.action span{
    color:#9fb3c8;
    font-size:14px;
}

.task-page{
    /* padding:30px; */
    color:white;
}

/* HEADER */
.task-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.task-header p{
    color:#94a3b8;
    margin-top:6px;
}

/* CREATE BUTTON */
.create-btn{
    background:linear-gradient(90deg,#17c6e6,#2563ff);
    border:none;
    padding:12px 20px;
    border-radius:10px;
    color:white;
    cursor:pointer;
    font-weight:600;
}

/* FILTER BAR */
.task-filters{
    display:flex;
    gap:20px;
    margin:25px 0;
}

.search{
    flex:1;
    padding:14px;
    background:#081a2f;
    border:1px solid rgba(255,255,255,.08);
    border-radius:12px;
    color:white;
}

.filter{
    padding:14px;
    background:#081a2f;
    border-radius:12px;
    border:1px solid rgba(255,255,255,.08);
    color:white;
}

/* TASK CARD */
.task-card{
    background:#071a2e;
    padding:25px;
    border-radius:16px;
    margin-bottom:25px;
    border:1px solid rgba(255,255,255,.05);
}

/* TOP */
.task-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.desc{
    color:#9fb3c8;
    margin:12px 0 18px;
}

/* META */
.task-meta{
    display:flex;
    gap:25px;
    color:#8aa0b8;
    margin-bottom:18px;
}

/* BUTTONS */
.task-actions button{
    padding:10px 18px;
    border-radius:10px;
    border:none;
    cursor:pointer;
    margin-right:10px;
}

.edit{
    background:#1e293b;
    color:white;
}

.delete{
    background:#3b0b12;
    color:#ff5c5c;
}

/* BADGES */
.badge{
    margin-left:10px;
    padding:4px 8px;
    border-radius:6px;
    font-size:12px;
}

.overdue2{
    background:#3b0b12;
    color:#ff5c5c;
}

.right-badges span{
    margin-left:10px;
}

.priority.high{
    background:#3b0b12;
    color:#ff6b6b;
    padding:5px 10px;
    border-radius:6px;
}

.status.progress{
    background:#0c3d66;
    color:#3ba4ff;
    padding:5px 10px;
    border-radius:6px;
}

.status.completed{
    background:#063d2c;
    color:#22c55e;
    padding:5px 10px;
    border-radius:6px;
}
.employee-grid{
    display:contents;
    grid-template-columns:repeat(auto-fill, minmax(380px, 1fr));
    gap:28px;
    align-items:stretch;
    grid-auto-rows: 1fr;
}
/* CARD */
.card{
    background:linear-gradient(145deg,#06152b,#020c1f);
    border-radius:16px;
    padding:24px;
    border:1px solid rgba(0,255,255,.08);
    transition:.35s;
    min-height: 240px;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

.card:hover{
    transform:translateY(-6px);
}

/* TOP */
.card-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.avatar{
    width:64px;
    height:64px;
    border-radius:50%;
    background:linear-gradient(135deg,#19d4ff,#1d6bff);
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    font-size:22px;
}

/* BADGE */
.badge{
    padding:6px 14px;
    border-radius:20px;
    font-size:13px;
}

.active{
    background:#063b2a;
    color:#28ff9c;
}

.inactive{
    background:#1e293b;
    color:#9aa7bd;
}

/* TEXT */
.card h3{
    margin-top:15px;
    font-size:22px;
}

.role{
    color:#00d4ff;
    display:block;
    margin-bottom:15px;
}

.role.admin{
    color:#00ffd0;
}

/* INFO */
.info p{
    color:#9fb3d9;
    margin:7px 0;
    font-size:14px;
}

/* BUTTONS */
.actions{
    display:flex;
    gap:15px;
    margin-top:20px;
    padding-top:18px;
    border-top:1px solid rgba(255,255,255,.05);
}

.actions button{
    flex:1;
    padding:12px;
    border-radius:10px;
    border:none;
    font-weight:600;
    cursor:pointer;
}

.edit{
    background:#1a2436;
    color:white;
}

.disable{
    background:#2a0f17;
    color:#ff4d5a;
}






.reports-container{
    max-width:1100px;
    margin-top:40px;
    /* padding:40px 20px; */
}

/* ===== STATS CARDS ===== */
.stats-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(170px,1fr));
    gap:20px;
    margin-bottom:30px;
}

.stat-card{
    padding:22px;
    border-radius:16px;
    color:white;
    border:1px solid rgba(255,255,255,.08);
}

.stat-card p{
    opacity:.85;
    margin-bottom:10px;
}

.stat-card h2{
    font-size:32px;
}

/* CARD COLORS */
.blue{ background:linear-gradient(135deg,#0f3e57,#0a2e47); }
.purple{ background:linear-gradient(135deg,#3a1f57,#2a1742); }
.green{ background:linear-gradient(135deg,#0d4b3a,#08382b); }
.indigo{ background:linear-gradient(135deg,#1f2f5a,#192447); }
.orange{ background:linear-gradient(135deg,#5a3a16,#3f280f); }
.red{ background:linear-gradient(135deg,#5a1a2b,#3f1220); }

/* ===== ANALYTICS CARD ===== */
.analytics-card{
    background:linear-gradient(145deg,#06152b,#020c1f);
    border-radius:18px;
    padding:30px;
    border:1px solid rgba(0,255,255,.08);
}

.analytics-card h3{
    margin-bottom:25px;
    font-size:22px;
}

/* PROGRESS */
.progress-row{
    display:flex;
    justify-content:space-between;
    margin-bottom:12px;
    color:#9fb3d9;
}

.percent{
    color:#19d4ff;
    font-size:34px;
    font-weight:600;
}

.progress-bar{
    width:100%;
    height:18px;
    background:#1b2435;
    border-radius:20px;
    overflow:hidden;
    margin-bottom:30px;
}

.progress-fill{
    width:38%;
    height:100%;
    background:linear-gradient(90deg,#19d4ff,#2563ff);
    border-radius:20px;
}

/* COMPLETION STATS */
.completion-stats{
    display:flex;
    justify-content:space-around;
    text-align:center;
    border-top:1px solid rgba(255,255,255,.06);
    padding-top:25px;
}

.completion-stats p{
    color:#9fb3d9;
    margin-top:6px;
}

/* COLORS */
.green-text{ color:#22ff9c; }
.blue-text{ color:#4ea1ff; }
.yellow-text{ color:#ffd000; }



/* SECTION */
.overdue-section{
    margin-top:40px;
    padding:28px;
    border-radius:18px;
    border:1px solid rgba(255,60,60,.15);
    background:linear-gradient(145deg,#081427,#050c1f);
}

/* HEADER */
.overdue-header{
    display:flex;
    align-items:center;
    gap:12px;
    margin-bottom:20px;
}

.overdue-header h2{
    margin:0;
    font-size:24px;
}

.count{
    background:#2b0f17;
    color:#ff4d5a;
    padding:6px 12px;
    border-radius:20px;
    font-size:14px;
}

/* CARD */
.overdue-card{
    background:linear-gradient(145deg,#1a1323,#120b18);
    border-radius:14px;
    padding:22px;
    border:1px solid rgba(255,60,60,.25);
    margin-bottom: 12px;
}

/* TOP */
.task-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:10px;
}

.task-top h3{
    margin:0;
    font-size:20px;
}

/* PRIORITY */
.priority{
    padding:6px 12px;
    border-radius:6px;
    font-size:13px;
}

.priority.high{
    background:#2b0f17;
    color:#ff4d5a;
}

/* DESCRIPTION */
.task-desc{
    color:#9fb3d9;
    margin-bottom:12px;
    line-height:1.5;
}

/* META */
.task-meta{
    color:#7f93b5;
    font-size:14px;
}

.task-meta span{
    margin-left:15px;
}




.profile-wrapper{
    max-width:1200px;
    margin:auto;
    display:grid;
    grid-template-columns:320px 1fr;
    gap:30px;
    padding:40px 20px;
}

/* LEFT CARD */
.profile-card{
    background:linear-gradient(145deg,#06152b,#020c1f);
    border-radius:18px;
    padding:40px 20px;
    text-align:center;
    border:1px solid rgba(0,255,255,.08);
    max-height: max-content;
}

.profile-avatar{
    width:120px;
    height:120px;
    margin:auto;
    border-radius:50%;
    background:linear-gradient(135deg,#19d4ff,#1d6bff);
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:42px;
    font-weight:600;
    margin-bottom:20px;
}

.profile-card h2{
    margin:10px 0 5px;
}

.role{
    color:#9fb3d9;
    margin-bottom:18px;
}

.status2{
    background:#063b2a;
    color:#28ff9c;
    padding:10px 18px;
    border-radius:10px;
    font-size:14px;
}

/* RIGHT PANEL */
.info-panel{
    background:linear-gradient(145deg,#06152b,#020c1f);
    border-radius:18px;
    padding:30px;
    border:1px solid rgba(0,255,255,.08);
}

/* INFO BOX */
.info-box{
    display:flex;
    align-items:center;
    gap:18px;
    padding:18px;
    margin-bottom:18px;
    border-radius:14px;
    background:rgba(255,255,255,.04);
}

.icon{
    width:46px;
    height:46px;
    border-radius:10px;
    background:#0f2a3f;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:20px;
    color:#19d4ff;
}

.label{
    color:#8fa3c4;
    font-size:14px;
    margin-bottom:3px;
}

.info-box h4{
    margin:0;
}
/* SECURITY PANEL */
.security-panel{
    /* margin-top:30px; */
    background:linear-gradient(145deg,#06152b,#020c1f);
    border-radius:18px;
    padding:28px;
    border:1px solid rgba(0,255,255,.08);
}

.panel-title{
    margin-bottom:20px;
    font-size:22px;
}

/* ITEM */
.security-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px;
    margin-bottom:18px;
    border-radius:14px;
    background:rgba(255,255,255,.04);
}

.sec-left{
    display:flex;
    align-items:center;
    gap:16px;
}

.sec-icon{
    width:46px;
    height:46px;
    border-radius:12px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:20px;
}

/* ICON COLORS */
.lock{
    background:#0f2a3f;
    color:#19d4ff;
}

.success{
    background:#0f3b2c;
    color:#28ff9c;
}

/* TEXT */
.security-item h4{
    margin:0;
}

.security-item p{
    margin:3px 0 0;
    color:#8fa3c4;
    font-size:14px;
}

.arrow{
    color:#19d4ff;
    font-size:20px;
}
